* {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    background: #006080 url("../images/prism-blue.png") center fixed repeat;
    color: white;
    display: flex;
        flex-direction: column;
    font-family: "merriweather","courgette",'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.6em;
    min-height: 100vh;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kaushan Script", cursive;
    line-height: 1em;
    margin: 1em auto;
}
    
    h1 { font-size: 2.5em; }
    h2 { font-size: 2em; margin-top: 0; }
    h3 {font-size: 1.5em; }

p { margin: 1em auto;}

header h1, 
article, 
footer p {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}
header, article, footer {
    padding: 2em;
}

header, footer {
    background: #222;
    color: white;
    border-color: #068;
    border-style: solid;
}

header {
    border-bottom-width: 0.25em;
}

article {
    background: rgba(255, 255, 255, 0.1);
    margin: 2em auto;
}

footer {
    border-top-width: 0.25em;
    margin-top: auto;
    text-align: center;
}

#directions, .panel {
    background: rgba(255, 255, 255, 0.1);
    padding: 1em;
    margin: 1em 0;
}

#scoreboard, #crystals {
    display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}

.panel {
    text-align: center;
    width: 32%;
}

#crystals {
    justify-content: space-around;
    margin: 1em auto;
    width: 80%;
}

.gem {
    width: 20%;
}
.gem:hover {
    background: rgba(255, 255, 255, 0.1);
}

.number {
    font-family: "Kaushan Script", cursive;
    font-size: 2em;
}

@media (max-width: 900px) {
    #crystals { width: 100%;}
    .gems { width: 22%; }
}

@media (max-width: 600px) {
    .panel {
        flex-grow: 1;
        width: 100%;
    }
    .gems {width: 25%;}
}

